* {
 background-color: black;
 
}
h1 {
    color:white;
    margin: 0px;
    /*-webkit-text-stroke: 2px rgb(255, 255, 255);*/
    font-size: 2cm;
    font-family: 'Rubik Mono One', sans-serif;

}

img {
  margin: 10px;
}
.caja {
  margin: 0px;
  width: top;
  height: 150px;
  /*border: 7px rgb(255, 255, 255);*/
  background: rgb(0, 0, 0);


}

/*.caja:active {
  background: red;
}*/
button {
  margin: 10px;
  background-color: #4c8baf; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'Rubik Mono One', sans-serif;
  font-size: 16px;
}
button:hover {
  margin: 10px;
  background-color: #4caf86; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'Rubik Mono One', sans-serif;
  font-size: 16px;
}

button1 {
  margin: 5px;
  background-color: #4c8baf; /* Green */
  border: none;
  color: white;
  padding: 5px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'Rubik Mono One', sans-serif;
  font-size: 13px;
}

button1:hover {
  margin: 5px;
  background-color: #4caf75; /* Green */
  border: none;
  color: white;
  padding: 5px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'Rubik Mono One', sans-serif;
  font-size: 13px;
}